# Every path in this repository is reviewed by the maintainer.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @sean1093
